/* CUSTOM OVERRIDE PAGE STYLES HERE */

.btn-primary {
    background-color: #0078d4 !important;
}
.badge-warning {
    color: #000000;
    background-color: #ffb900 !important;
}

.btn-primary {
    background-color: #0078d4 !important;
}

.badge-success {
    background-color: #107c10 !important;
}

.badge-secondary {
    background-color: #505050 !important;
}

#CaptionsContainer {
    text-align: center;
    font-size: 1.25em
}
