/* CUSTOM OVERRIDE OF PLAYER STYLES */
#Main, .ExpandedMain#Main {left:0px;right:0px;top:0em;bottom:0em;}
#Header, #Footer {display:none!important}
html.light_theme, .light_theme body {background-color:rgb(233,233,233) !important}

.accent {
    background-color: #0078d4 !important;
}

.accent_border {
    border-color: #50e6ff !important;
}

.Splitter.accent {
    background-color: #0078d4 !important;
}

.accent_text {
    color: #50e6ff !important;
}

.light_theme .ConfirmDialog, .light_theme .NotifyDialog {
    background: #243A5E;
}

    .light_theme .ConfirmDialog button, .light_theme .ConfirmDialog button.ui-state-default, .light_theme .ConfirmDialog button.ui-state-focus, .light_theme .NotifyDialog button, .light_theme .NotifyDialog button.ui-state-default, .light_theme .NotifyDialog button.ui-state-focus {
        background: #0078d4;
        color: white;
    }

.ConfirmDialog .ui-dialog-title, .NotifyDialog .ui-dialog-title {
    text-transform: none;
}

.ContentsWidgetContainer {display:none !important}